html {
  background-color: #222222;
  font-size: 14px;
  font-family: Monaco, monospace, fixed;
  line-height: 130%;
  padding-top: 40px;
  color: #5ff63f; }

#console {
  padding: 8px; }
  #console div.jquery-console-prompt-box {
    color: orange; }
  #console div.jquery-console-focus span.jquery-console-cursor {
    background-color: orange; }
  #console div.jquery-console-focus span.blink {
    background-color: transparent; }
  #console div.jquery-console-message {
    width: 600px;
    margin-bottom: 20px; }
  #console span.blink {
    background: red; }

nav {
  color: #e4ffff;
  background-color: #333333;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  z-index: 1; }
  nav ul {
    z-index: 1;
    margin-left: 8px;
    margin-top: 1px; }
    nav ul li {
      z-index: 1;
      cursor: pointer;
      text-decoration: underline;
      margin-right: 16px;
      float: left; }

article {
  display: none; }

embed, object {
  z-index: 0; }
