$orange:    orange
$green:     #5ff63f
$white: #E4FFFF
$darkgrey: #222
$lightgrey: #333

html
  background-color: $darkgrey
  font-size: 14px
  font-family: Monaco, monospace, fixed
  line-height: 130%
  padding-top: 40px
  color: $green
  
#console
  padding: 8px
  div
    &.jquery-console-prompt-box
      color: $orange
    &.jquery-console-focus span.jquery-console-cursor
      background-color: $orange
    &.jquery-console-focus span.blink
      background-color: transparent
    &.jquery-console-message
      width: 600px
      margin-bottom: 20px
      
  span.blink
    background: red

nav
  color: $white
  background-color: $lightgrey
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 20px
  z-index: 1
  ul
    z-index: 1
    margin-left: 8px
    margin-top: 1px
    li
      z-index: 1
      cursor: pointer
      text-decoration: underline
      margin-right: 16px
      float: left
  
article, .hidden
  display: none
  
embed, object
  z-index: 0
