body
  background: #222
  margin: 0
  padding: 0
  overflow: auto

#console
  font-size: 14px
  font-family: Monaco, monospace, fixed
  div
    &.jquery-console-inner
      padding: 0.5em
    &.jquery-console-prompt-box
      color: #fff
    &.jquery-console-focus span.jquery-console-cursor
      background: #fefefe
      color: #333
      font-weight: bold
    &.jquery-console-message-value
      color: #5ff63f
      padding: 0.1em
  span.jquery-console-prompt-label
    font-weight: bold
    
article
  display: none
