html {
  background: #222222;
  font-size: 14px;
  font-family: Monaco, monospace, fixed;
  line-height: 130%;
  padding: 8px;
  color: #5ff63f; }

#console div.jquery-console-prompt-box {
  color: orange; }
#console div.jquery-console-focus span.jquery-console-cursor {
  background: orange; }
#console div.jquery-console-focus span.blink {
  background: transparent; }
#console div.jquery-console-message {
  width: 600px;
  margin-bottom: 20px; }
#console span.blink {
  background: red; }

article {
  display: none; }
